{
  "refresh_token": "Atzr|abc123",
  "client_id": "amzn123",
  "client_secret": "abcde",
  "aws_access_key": "ABCDE",
  "aws_secret_key": "abc123",
  "role_arn": "arn:aws:iam::123456:role/some_role",
  "start_date": "2021-08-03T16:41:14+00:00",
  "marketplace": "GB",
  "sales_data_granularity": "HOUR"
}
